@model List<Podaci>

<table>
    <thead>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
        @foreach (var podatak in Model)
        {
            <tr>
                @*<td>@podatak.PodaciID</td>*@
                <td>@podatak.Ime</td>
                <td>@podatak.Prezime</td>
                <td>@podatak.PBr</td>
                <td>@podatak.Grad</td>
                <td>@podatak.Telefon</td>
            </tr>
        }
    </tbody>
</table>
